# Configuration file for grafana-server

GRAFANA_USER=grafana
GRAFANA_GROUP=grafana
GRAFANA_HOME=/usr/share/grafana

LOG_DIR=/var/log/grafana
DATA_DIR=/var/lib/grafana
PLUGINS_DIR=/var/lib/grafana/plugins
PROVISIONING_CFG_DIR=/etc/grafana/provisioning

CONF_FILE=/etc/grafana/grafana.ini
PID_FILE_DIR=/var/run/grafana

RESTART_ON_UPGRADE=true

OPENHCULT_DATABASE_PASSWORD={{ openhcult_database_password }}
OPENHCULT_POSTGRES_HOST={{ grafana_postgres_host }}
OPENHCULT_POSTGRES_PORT={{ grafana_postgres_port }}
OPENHCULT_CTRL_URL={{ grafana_ctrl_url }}
