[Unit]
Description=OpenHCult control API
After=network.target

[Service]
Type=simple
User={{ openhcult_user }}
Group={{ openhcult_group }}
LogsDirectory=hcult
LogsDirectoryMode=0755
WorkingDirectory={{ openhcult_install_dir }}/hcultctrl
ExecStart={{ openhcult_install_dir }}/.venv/bin/python -m hcultctrl -c {{ openhcult_config_path }}
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=HCULT_CALIBRATION_CSV={{ openhcult_calibration_csv }}

[Install]
WantedBy=default.target
