[ble]
service_uuid={{ openhcult_ble_service_uuid }}
characteristic_uuid={{ openhcult_ble_characteristic_uuid }}

[database]
url={{ openhcult_database_url }}

[logging]
stdout={{ openhcult_log_stdout | ternary("true", "false") }}
file={{ openhcult_log_file }}

[ctrl]
host={{ openhcult_ctrl_host }}
port={{ openhcult_ctrl_port }}
