[Unit]
Description=OpenHCult monitor
After=network.target bluetooth.target
Requires=bluetooth.target

[Service]
Type=simple
User={{ openhcult_user }}
Group={{ openhcult_group }}
LogsDirectory=hcult
LogsDirectoryMode=0755
WorkingDirectory={{ openhcult_install_dir }}/hcultmon
ExecStart={{ openhcult_install_dir }}/.venv/bin/python -m hcultmon -c {{ openhcult_config_path }}
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
